<div class="main-content bg-primary" *ngIf="!isLoading">
  <div class="left-content bg-secondary">
    <app-today *ngIf="!isSearch" (handleSearch)="onHandleSearch($event)" (getUserLocation)="getUserLocation()"
    [city]="city" [icon]="currentWeather.weather[0].icon" [temp]="currentWeather.temp" 
    [description]="currentWeather.weather[0].description">
    </app-today>

    <app-search *ngIf="isSearch" (handleSearch)="onHandleSearch($event)" (searchCityWeathers)="updateCityAndWeathers($event)"></app-search>
  </div>

  <div class="right-content">
    <div class="container">
      <div class="weather-list"> <!-- .weather-list -->
        <app-weather-card *ngFor="let daily of dailys" [date]="daily.dt" [icon]="daily.weather[0].icon" [tempMin]="daily.temp.min" [tempMax]="daily.temp.max">
        </app-weather-card>
      </div> <!-- .weather-list -->

      <h2>Lo más destacado de hoy</h2>
      <div class="today-hightlights"> <!-- .today-hightlights -->
        <div class="wind-status bg-secondary">
          <h4>Estado del Viento</h4>
          <p>{{ currentWeather.wind_speed | number: '1.0-0' }}</p>
          <span>mph</span>
        </div>

        <div class="humidity bg-secondary">
          <h4>Humedad</h4>
          <p>{{ currentWeather.humidity | number: '1.0-0' }}</p>
          <span>%</span>
        </div>

        <div class="visibility bg-secondary">
          <h4>Visibilidad</h4>
          <p>{{ currentWeather.visibility | number: '1.0-0' }}</p>
          <span>miles</span>
        </div>

        <div class="air-pressure bg-secondary">
          <h4>Presión Atmosférica</h4>
          <p>{{ currentWeather.pressure | number: '1.0-0' }}</p>
          <span>mb</span>
        </div>
      </div> <!-- .today-hightlights -->
    </div>
  </div>
</div>

<div class="main-content bg-primary loading" *ngIf="isLoading">
  <span>Weather App [Chile] | Cargando...</span>
</div>