<div class="weather-card bg-secondary">
  <h4>{{ date }}</h4>
  <img src="http://openweathermap.org/img/wn/{{ icon }}@2x.png" alt="Icono">
  <div class="celcius">
    <p>{{ tempMax | number: '1.0-0' }}°C</p>
    <p>{{ tempMin | number: '1.0-0' }}°C</p>
  </div>
</div>
