.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  min-height: 200px;
  padding: 15px;
}

.weather-card h4 {
  text-align: center;
  margin: 0;
}

.weather-card .celcius {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.weather-card .celcius p {
  margin: 0;
}

.weather-card .celcius p:first-child {
  margin-right: 10px;
}