.search {
  padding: 30px 0;
  height: 100vh;
}

.close-icon {
  margin-bottom: 20px;
  text-align: right;
}

.close-icon span:hover {
  cursor: pointer;
}

/* Formulario */
.form-search {
  margin-bottom: 15px;
}

.form-search input {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 10px;
  border: 1px solid #FFF;
  background-color: var(--bg-secondary);
  color: #FFF;
}

.form-search button {
  display: block;
  width: 100%;
  padding: 10px 5px;
  border: none;
  background-color: #3131B8;
  color: #FFF;
}

.form-search button:hover {
  background-color: #20208C;
}

.text-danger p {
  margin-top: 0;
  color: red;
}

/* Cities */
.cities {
  max-height: 70vh;
  overflow-y: auto;
}

.cities .city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 20px;
}

.cities .city:hover {
  cursor: pointer;
  border: 1px solid #CCC;
}

.cities .city p {
  margin: 0;
  padding: 0;
}

.city-name {
  width: 100%;
}