/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.bg-primary {
  background-color: #100E1C;
}

.bg-secondary {
  background-color: #1D213A;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}